
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Test3</h2>

<pre>
Başlıklarda arama kutucuğu
Yazar görselleri düzenlenecek
grafikler
vitrin teması
Gelen kutusunda arama
yetkilendirmeler
hata sayfası latouttan ayrılacak
herhangi bir tablo raporlanıcak
proje dosyaları sunucuya tasınacak
--alan adı
--proje canlıya tasınacak
</pre>